{% extends "base.html" %}

{% block title %}{{ page.title }} - {{ config.title }}{% endblock title %}

{% block content %}
<article>
  <h1>{{ page.title }}</h1>
  <div class="post-meta">
    <time>{{ page.date | date(format="%Y-%m-%d") }}</time>
    {% if page.taxonomies.tags %}
    <div class="tags" style="display: inline; margin-left: 1rem;">
      {% for tag in page.taxonomies.tags %}
      <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div>
    {{ page.content | safe }}
  </div>
</article>
{% endblock content %}